{#
 ******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                 MEMBER OF GHENT UNIVERITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright (c) 2012 Artevelde University College Ghent
 *
#}

{% extends 'AhsB0bBundle::layout.html.twig' %}

{% block title %}{% trans %}Login{% endtrans %} ← {{ parent() }}{% endblock %}

{% block navigation %}
<nav>
    <ul>
        {% if not is_granted('ROLE_USER') %}
        <li><a href="{{ path('ahs_b0b_register') }}">{% trans %}Register{% endtrans %}</a></li>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
        <li><a href="{{ path('ahs_b0b_logout') }}">{% trans %}Logout{% endtrans %}</a></li>
        {% endif %}
        <li><a href="{{ path('ahs_b0b_home'    ) }}">{% trans %}Home{% endtrans %}</a></li>
    </ul>
</nav>
{% endblock navigation %}

{% block header_title %}{% trans %}Log in as b0b{% endtrans %}{% endblock %}

{# Login Form #}
{% block content %}
    <section>
        <form novalidate="novalidate" id="form-login" action="{{ path('ahs_b0b_login_check') }}" method="post">
            <fieldset class="box style-b">
                {% if error %}
                <div class="error">{{ error.message }}</div>
                {% endif %}
                <legend>{% trans %}Login{% endtrans %}</legend>
                <dl>
                    <dd><input type="email" id="login_email" name="email" required="required" placeholder="{% trans %}Email address{% endtrans %}" /></dd>
                    <dd><input type="password" id="login_password" name="password" required="required" placeholder="{% trans %}Password{% endtrans %}" /></dd>
                    <dd><label class="wrap"><input name="remember" type="checkbox" checked> {% trans %}Remember me{% endtrans %}.</label></dd>
                </dl>
            </fieldset>
            <p><input name="button-login" type="submit" value="{% trans %}Log me in!{% endtrans %}"></p>
        </form>
    </section>
{% endblock content %}